/*--------navigation----------*/
#top_nav{
    height:80px;
    padding:10px 10px;
    line-height:80px;
    background-color:transparent;
    border-width:0;
    -webkit-transition: all .5s ease-in-out ;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.navbar-header{
    height:60px;
}
.navbar-brand {
    width: 65px;
    height: 50px;
    overflow: hidden;
    padding:0 0 0 10px;
    position:relative;
}
.navbar-brand>img{
    position:absolute;
    top:0;
    left:10px;
}
.navbar-brand .logo_hover{
    display:none;
}
.navbar-nav > li > a{
    padding:0;
    width:40px;
    height:40px;
    margin-right:20px;
    position:relative;
}
.navbar-nav > li >a>img{
    position:absolute;
    top:0;
    left:0;
}
.navbar-nav > li >a>img.message_hover,.navbar-nav > li >a>img.favorite_hover{
    display:none;
}
@media screen and (max-width:768px){
    #top_nav{
        height:70px;
        padding:0;
    }
    #top_nav .container-fluid{
        background:rgba(0,0,0,.5);
        width:100%;
    }
    #top_nav .container-fluid .navbar-brand{
        margin-top:5px;
    }
    #top_nav .container-fluid .navbar-toggle{
        margin-top:12px;
    }
    .navbar-nav > li > a{
        margin:10px 0 20px 10px;
    }
}
/*-------carousel_section---------*/
#carousel_section img{
    width:100%;
}
#carousel_section .carousel-indicators{
    .display:none;
}
#carousel_section .carousel-indicators li{
    *display:inline;
    *margin-left:5px;
    *zoom:1;
}
/*-------project_class_section--------*/
/*-----use contain-fluid will make some problems------*/
#project_class_section .container{
    width:100%;
    padding:0;
}
#app,#web,#wx,#ar_vr,#next{
    width:18%;
    display:inline-block;
    float:left;
    text-align: center;
    height:300px;
    .height:100px;
    padding:80px 0;
    font-weight:100;
    background-color:#f5f5f5;
    border-right:1px solid #DBDBDB;
    border-bottom:1px solid #DBDBDB;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}
#app>a,#web>a,#wx>a,#ar_vr>a,#next>a{
    outline:none;
}
#app:hover,#web:hover,#wx:hover,#ar_vr:hover,#next:hover{
    background-color: #FFFFFF;
}
#app .title,#web .title,#wx .title,#ar_vr .title,#next .title{
    position:relative;
    margin-top:4%;
    text-align:left;
}

#app .title p ,#web .title p ,#wx .title p ,#ar_vr .title p ,#next .title p{
    position:absolute;
    height:30px;
    width:100%;
    line-height:30px;
    text-align:center;
    color:#9D9D9D;
}
.p1{
    font-size: 25px;
}
.p2{
    font-size:16px;
}
.p_hover_before{
    display:none;
}
#share{
    float:left;
    width:10%;
    text-align:center;
    padding:0;
    height:300px;
    .height:260px;
    border-bottom:1px solid #DBDBDB;
    background-color:#F0F0F0;
}
#share .share_section{
    display:block;
    width: 80px;
    height:80px;
    border-radius:50%;
    overflow: hidden;
    margin-top:10px;
    .margin-top:0px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -ms-transition: background .5s;
    -o-transition: background .5s;
    transition: background .5s;
    position:relative;
    outline:none;
}
#share .share_section>img{
    width:40px;
    height:40px;
    /*margin:19px 0;*/
    position:absolute;
    top:20px;
    left:0;
    margin-left:18px;
}
#share .share_section>img.img_hover_before{
    display:none;
}
@media screen and (max-width:1250px){
    #app,#web,#wx,#ar_vr,#next,#share{
        height:260px;
    }
    #share .share_section{
        width:70px;
        height:70px;
    }
    #share .share_section > img{
        width:50px;
        height:50px;
        top:10px;
        margin-left:12px;
    }
}
@media screen and (max-width:920px){
    #app,#web,#wx,#ar_vr,#next,#share{
        width:33.3%;
    }
    #share .share_section > img{
        width:40px;
        height:40px;
        top:0px;
        margin-left:13px;
    }
}
@media screen and (max-width:630px){
    #app,#web,#wx,#ar_vr,#next,#share{
        width:50%;
    }
}
@media screen and (max-width:450px){
    #app,#web,#wx,#ar_vr,#next{
        height:180px;
        padding:40px 0;
    }
    #share{
        height:180px;
    }
    #share .share_section{
        width:50px;
        height:50px;
        margin-top:7px;
    }
    #share .share_section > img{
        width:30px;
        height:30px;
        top:-1px;
        margin-left:10px;
    }
}
/*-------experience_design_section--------*/
#experience_design_section{
    padding:30px 0 0 0;
    background-color:#E9E9E9;
    text-align:center;
}
#experience_design_section h3{
    font-size:25px;
    line-height:40px;
    color:#141414;
}
#experience_design_section p{
    font-size:16px;
    color:#848484;
}
#experience_design_section .container{
    width:95%;
    padding-top:50px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
}
#experience_design_section .container .item{
    height:350px;
    padding:40px 0 0 0;
    background-color:#FFFFFF;
}
#experience_design_section .container .item h4{
    color:#2A2A2A;
    font-size:20px;
}
#experience_design_section .container .item p{
    color:#909090;
    font-size:14px;
    width:75%;
    line-height:26px;
    text-align: left;
    margin:20px auto;
}
@media screen and (max-width: 768px){
    #experience_design_section .container .item p{
        width:80%;
        line-height:2rem;
        text-align: left;
        margin:2rem auto;
    }
    #experience_design_section .container .item{
        padding:10px 0 0 0;
        height: 400px;
    }
    #experience_design_section .container .item h4{
        padding:0 1.5rem;
    }
}
/*-------sunnyui_design_section--------*/
#sunnyui_design_section{
    background-color:#3F30E3;
    padding:50px 0 150px 0;
    position:relative;
    overflow:hidden;
}
.layer{
 position:absolute;
 }
#sd_bg_01{
    top:0;
    left:10%;
}
#sd_bg_02{
    top:0;
    left:70%;
}
#sd_bg_03{
    bottom:-5px;
    left:14%;

}
#sd_bg_04{
    bottom:-5px;
    left:15%;
}
#sd_bg_05{
    bottom:0;
    left:55%;
}
@media screen and (max-width:1166px){
    #sd_bg_03,#sd_bg_04{
        bottom:-10px;
    }
    #sd_bg_05,#sd_bg_02{
        display:none;
    }
}
#sunnyui_design_section .container{
    text-align:center;
    color:#FFFFFF;
}
#sunnyui_design_section .container h3{
    margin:20px 0 15px 0;
    height:30px;
    line-height:30px;
}
#sunnyui_design_section .container h5{
    font-size:16px;
}
#sunnyui_design_section .container > p{
    width:80%;
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    line-height:25px;
}
#sunnyui_design_section .container .more button{
    display:inline-block;
    margin-top:30px;
    background-color:#41D696;
    padding:10px 50px;
    border-radius:5px;
    border-width:0;
    color:#FFFFFF;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
#sunnyui_design_section .container .more button:hover{
    background-color: #2C986A;
}
/*-------footer--------*/
footer{
    padding:50px 0;
}
footer i,footer span{
    color:#636363;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
#section_03 ul li:hover>i,#phone_version:hover>i,#phone_number:hover>i{
    color:#42D797;
}
#section_03 ul li:hover>span,#phone_version:hover>span,#phone_number:hover>span,#footer_section_02 .section_02 span:hover{
    color:#999999;
}
    /*-------footer_section_01--------*/
    #footer_section_01 .container{
        width:100%;
    }
    #section_01,#section_02,#section_03{
        margin-top:10px;
        .width:30%;
    }
    #footer_section_01 ul li a{
        text-decoration: none;
        color:#636363;
        -webkit-transition: color .5s;
        -moz-transition: color .5s;
        -ms-transition: color .5s;
        -o-transition: color .5s;
        transition: color .5s;
    }
    #footer_section_01 ul li a:hover{
        color:#999999;
    }
        /*-------section_01--------*/
        #logo{
            width:18%;
            float:left;
            margin-right:2%;
        }
        #logo a,#sunnyui_logo a{
            display:inline-block;
        }
        #logo a img,#sunnyui_logo a img{
            width:100%;
        }
        #sunnyui{
            width:80%;
            float:left;
        }
        #sunnyui_logo{
            width:50%;
        }
        #sunnyui ul{
            list-style:none;
        }
        #sunnyui ul li{
            display:inline-block;
            float:left;
            margin-right:4%;
}
        /*-------section_02--------*/
        #section_02 p{
            font-size:14px;
            font-weight:800;
            color:#BFBFBF;
            /*text-shadow:0px 1px 1px #ccc;*/
            margin:0;
        }
        #section_02 ul{
            width:80%;
            list-style:none;
        }
        #section_02 ul li{
            display:inline-block;
            float:left;
            margin-right:4%;
        }
        /*-------section_03--------*/
        #section_03 p{
            font-size:14px;
            margin:0;
            color:#7B7B7B;
        }
        #section_03 p span{
            font-size:14px;
            font-weight:800;
            color:#BFBFBF;
        }
        #section_03 ul{
            list-style:none;
            width:80%;
        }
        #section_03 ul li{
            display:inline-block;
            float:left;
            margin-right:5%;
        }
        #section_03 ul li i{
            margin-top:5px;
            font-size:1.4rem;
        }
    /*-------footer_section_02--------*/
    #footer_section_02{
        padding:25px 0 10px 0;
        width:95%;
        margin:0 auto;
    }
            /*-------section_01--------*/
        #footer_section_02 .section_01 {
            height:40px;
        }
        #phone_version{
            float:left;
            font-weight:bold;
            color:#7B7B7B;
        }
        #phone_number{
            float:right;
            font-weight:bold;
            color:#7B7B7B;
        }
        #footer_section_02 .section_01 i{
            font-size:30px;
        }
        #phone_number span, #phone_version span{
            display:inline-block;
            font-weight:bolder;
            position: relative;
            top:-5px;
        }
        #phone_number span{
            font-family:"impact";
            font-size:20px;
            top:-3px;
        }
        /*-------section_02--------*/
        #footer_section_02 .section_02{
            float:right;
            font-size:11px;
            color:#BFBFBF;
        }
@media screen and (min-width: 1051px){
    #sunnyui ul li,#section_02 ul li{
        display:inline-block;
        color:#646464;
        font-size:12px;
        margin-top:5%;
    }
    #sunnyui ul li{
    .margin-top:3%;
    }
    #section_03 ul li{
        color:#646464;
        font-size:12px;
        margin-top:4%;
        .margin-top:4%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1050px){
    #sunnyui ul li,#section_02 ul li{
        color:#646464;
        font-size:10px;
        margin-top:3%;
    }
    #section_03 ul li{
        font-size:10px;
        color:#646464;
        margin-top:4%;
    }
}
@media screen and (max-width:768px){
    #sunnyui ul li,#section_02 ul li{
        color:#646464;
        font-size:9px;
        margin-top:2%;
    }
    #section_02 ul, #section_03 ul{
        margin-left:20%;
    }
    #section_03 ul li{
        color:#646464;
        font-size:9px;
        margin-top:5%;
    }
}