html{
    font-size:62.5%;
}
body{
    background:rgb(255,255,255);
    box-sizing:border-box;
}
/*---------顶部导航栏部分---------*/
#top_nav{
    height:8rem;
    padding:0rem 2rem;
    line-height:8rem;
    background-color:transparent;
    border-width:0;
}
.navbar-toggle{
    margin:2rem 0;
}
#top_nav_content ul li{
    margin:1.2rem 0;
}
/*-------项目类别导航部分--------*/
#project_class_section{
    padding:10rem 0;
    border-bottom:1px solid #ccc;
    background-color:rgb(245,245,245);
}
#app,#web,#wx,#ar_vr,#next{
    border-right:1px solid #ccc;
}
/*-------体验设计部分--------*/
#experience_design_section{
    padding:30rem 0;
    background-color:rgb(233,233,233);
}