@charset "utf-8";
*{
    padding:0;
    margin:0;
}
@font-face {
    font-family: "awesome-font";
    src:url(font-awesome/fonts/fontawesome-webfont.eot)
    src:url(font-awesome/fonts/fontawesome-webfont.woff)
        url(font-awesome/fonts/FontAwesome.otf)
        url(font-awesome/fonts/fontawesome-webfont.ttf)
}
i{
    font-family: "awesome-font";
}
html{
    font-size:62.5%;

}
body{
    background:#FFFFFF;
    box-sizing:border-box;
    font-family:"Microsoft YaHei","微软雅黑";
}
/*--------navigation----------*/
#top_nav{
    height:8rem;
    padding:1rem 1rem;
    line-height:8rem;
    background-color:transparent;
    border-width:0;
    -webkit-transition: all .5s ease-in-out ;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.navbar-brand{
    width:70px;
    height:50px;
    overflow:hidden;
    -webkit-transition: all .5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out 0s;
    -ms-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
    padding:1.5rem 0 1.5rem 1.1rem;
    background:url(../img/nav/logo.png) no-repeat 10px center;
}
.navbar-brand:hover{
    width:20rem;
    background:url(../img/nav/logo_hover.png) no-repeat 10px center;
}
.navbar-nav > li > a{
    padding:0;
    width:40px;
    height:40px;
    margin-right:20px;
}
.navbar-nav > li > a.message{
    background:url(../img/nav/message.png) no-repeat 0 center;
}
.navbar-nav > li > a.message:hover{
    background:url(../img/nav/message_hover.png) no-repeat 0 center;
}
.navbar-nav > li > a.favorite{
    background:url(../img/nav/favorite.png) no-repeat 0 center;
}
.navbar-nav > li > a.favorite:hover{
    background:url(../img/nav/favorite_hover.png) no-repeat 0 center;
}
@media screen and (max-device-width:768px){
    #top_nav{
        height:5rem;
        padding:0;
    }
    #top_nav .container-fluid{
        background:rgba(0,0,0,.5);
        width:100%;
    }
    #top_nav .container-fluid .navbar-brand{
        margin-top:.5rem;
    }
    #top_nav .container-fluid .navbar-toggle{
        margin-top:1.2rem;
    }
    .navbar-nav > li > a{
        margin:1rem 0 2rem 1rem;
    }
}
/*-------carousel_section---------*/
#carousel_section img{
    width:100%;
}
/*iphone4&iphone5*/
@media screen and (max-device-width: 374px){
    .carousel-inner>.item>img,.carousel-inner>.item>a>img{
        height:18rem;
    }
}
/*iphone6&iphone6 plus*/
@media screen and (min-device-width: 375px) and (max-device-width: 767px){
    .carousel-inner>.item>img,.carousel-inner>.item>a>img{
        height:20rem;
    }
}
/*ipad &ipad Mini*/
@media screen and (min-device-width: 768px){
    .carousel-inner>.item>img,.carousel-inner>.item>a>img{
        height:auto;
    }
}
/*-------project_class_section--------*/
/*-----use contain-fluid will make some problems------*/
#project_class_section{
    psdding:0;
}
#project_class_section .container{
    width:100%;
}
#app,#web,#wx,#ar_vr,#next{
    text-align: center;
    height:300px;
    padding:80px 0;
    font-weight:100;
    background-color:#f5f5f5;
    border-right:.1rem solid #E5E5E5;
    -webkit-transition: background-color 1s;
    -moz-transition: background-color 1s;
    -ms-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}
#app:hover,#web:hover,#wx:hover,#ar_vr:hover,#next:hover{
    background-color: #FFFFFF;
}
#app p,#web p,#wx p,#ar_vr p,#next p{
    padding:0;
    margin:0;
    height:7rem;
    line-height:7rem;
    color:#9D9D9D;
}
.p1{
    font-size: 2.5rem;
}
.p2{
    font-size:2rem;
}
.p_hover_before{
    display:none;
}
#share{
    text-align:center;
    padding:0;
    height:300px;
    background-color:#f5f5f5;
}
#share .share_section{
    width: 80px;
    height:80px;
    border-radius:50%;
    overflow: hidden;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    -webkit-transition: background .9s;
    -moz-transition: background .9s;
    -ms-transition: background .9s;
    -o-transition: background .9s;
    transition: background .9s;
}
#share .share_section.xl:hover{
    background-color:#FD6969;
}
#share .share_section.wx:hover{
    background-color:#73D74B;
}
#share .share_section.qq:hover{
    background-color:#4797F1;
}
#share .share_section > img{
    width:40px;
    height:40px;
    margin:19px 0;
}
@media screen and (max-device-width:768px){
    #app,#web,#wx,#ar_vr,#next{
        height:165px;
        padding:30px 0 0 0;
    }
    #app p,#web p,#wx p,#ar_vr p,#next p{
        height:3rem;
        line-height:3rem;
    }
    #share{
        height:165px;
    }
    #share .share_section{
        width:40px;
        height:40px;
    }
    #share .share_section > img{
        width:30px;
        height:30px;
        margin:5px 0;
    }
}
/*-------experience_design_section--------*/
#experience_design_section{
    padding:5rem 0 0 0;
    background-color:#E9E9E9;
    text-align:center;
}
#experience_design_section .container{
    width:95%;
    padding-top:5rem;
    margin-left:auto;
    margin-right:auto;
    margin-top:2rem;
}
#experience_design_section .container .item{
    height:35rem;
    padding:5rem 0 0 0;
    background-color:#FFFFFF;
}
#experience_design_section .container .item p{
    width:60%;
    line-height:2.6rem;
    text-align: left;
    margin:2rem auto;
}
@media screen and (max-device-width: 768px){
    #experience_design_section .container .item p{
        width:80%;
        line-height:2rem;
        text-align: left;
        margin:2rem auto;
    }
    #experience_design_section .container .item{
        padding: 0;
    }
    #experience_design_section .container .item h4{
        padding:0 1.5rem;
    }
}
/*-------sunnyui_design_section--------*/
#sunnyui_design_section{
    background:url("../img/sd/sdb.jpg") no-repeat top center transparent;
}
@media screen and (min-device-width: 1350px){
    #sunnyui_design_section{
        padding: 5rem 0 12rem 0;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }
}
@media screen and (max-device-width: 1350px){
    #sunnyui_design_section{
        padding: 5rem 0 10rem 0;
        -webkit-background-size:cover;
        background-size:cover;
    }
}
#sunnyui_design_section .container{
    text-align:center;
    color:#FFFFFF;
}
#sunnyui_design_section .container h3{

    line-height:4rem;
}
#sunnyui_design_section .container h5{
    font-size:1.6rem;
}
#sunnyui_design_section .container > p{
    width:80%;
    margin-top:3rem;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    line-height:25px;
}
#sunnyui_design_section .container .more button{
    display:inline-block;
    margin-top:3rem;
    background-color:#41D696;
    padding:1rem 5rem;
    border-radius:.5rem;
    border-width:0;
    color:#FFFFFF;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
#sunnyui_design_section .container .more button:hover{
    background-color: #2C986A;
}
/*-------footer--------*/
footer{
    padding:5rem 0;
}
footer i,footer span{
    color:#636363;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
#section_03 ul li:hover>i,#phone_version:hover>i,#phone_number:hover>i{
    color:#42D797;
}
#section_03 ul li:hover>span,#phone_version:hover>span,#phone_number:hover>span,#footer_section_02 .section_02 span:hover{
    color:#999999;
}
    /*-------footer_section_01--------*/
    #footer_section_01 .container{
        width:100%;
    }
    #section_01,#section_02,#section_03{
        margin-top:1rem;
    }
        /*-------section_01--------*/
        #footer_section_01 ul li a{
            text-decoration: none;
            color:#636363;
            -webkit-transition: color .5s;
            -moz-transition: color .5s;
            -ms-transition: color .5s;
            -o-transition: color .5s;
            transition: color .5s;
        }
        #footer_section_01 ul li a:hover{
            color:#999999;
        }
        #logo{
            width:18%;
            float:left;
            margin-right:2%;
        }
        #logo a{
            display:inline-block;
        }
        #logo a img{
            width:100%;
        }
        #sunnyui{
            width:80%;
            float:left;
        }
        #sunnyui_logo{
            width:50%;
        }
        #sunnyui_logo a{
            display:inline-block;
        }
        #sunnyui_logo a img{
            width:100%;
        }
        #sunnyui ul{
            list-style:none;
        }
        #sunnyui ul li{
            display:inline-block;
            margin-right:2%;
            margin-top:3%;
        }
        /*-------section_02--------*/
        #section_02 p{
            font-size:1.4rem;
            font-weight:800;
            color:#BFBFBF;
            text-shadow:0px 1px 1px #ccc;
            margin:0;
        }
        #section_02 ul{
            width:80%;
            list-style:none;
        }
        #section_02 ul li{
            display:inline-block;
            margin-right:2%;
            margin-top:3%;
        }
        /*-------section_03--------*/
        #section_03 p{
            font-size:1.4rem;
            margin:0;
            color:#7B7B7B;
        }
        #section_03 p span{
            font-size:1.4rem;
            font-weight:800;
            color:#BFBFBF;
        }
        #section_03 ul{
            list-style:none;
            width:80%;
        }
        #section_03 ul li{
            display:inline-block;
            margin-right:5%;
        }
        #section_03 ul li i{
            font-size:1.4rem;
        }
    /*-------footer_section_02--------*/
    #footer_section_02{
        padding:2.5rem 0 1rem 0;
        width:95%;
        margin:0 auto;
    }
            /*-------section_01--------*/
        #footer_section_02 .section_01 {
            height:4rem;
        }
        #phone_version{
            float:left;
            font-weight:bold;
            color:#7B7B7B;
        }
        #phone_number{
            float:right;
            font-weight:bold;
            color:#7B7B7B;
        }
        #footer_section_02 .section_01 i{
            font-size:3rem;
        }
        #footer_section_02 .section_01 span{
            display:inline-block;
            position: relative;
            top:-.5rem;
        }
        /*-------section_02--------*/
        #footer_section_02 .section_02{
            float:right;
            font-size:1.1rem;
            color:#BFBFBF;
        }
@media screen and (min-device-width: 1051px){
    #sunnyui ul li a,#section_02 ul li a{
        display:inline-block;
        color:#646464;
        font-size:1.2rem;
        margin-top:7%;
    }
    #section_03 ul li{
        color:#646464;
        font-size:1.2rem;
        margin-top:3%;
    }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1050px){

    #sunnyui ul li a,#section_02 ul li a{
        color:#646464;
        font-size:1rem;
        margin-top:3%;
    }
    #section_03 ul li{
        font-size:1rem;
        color:#646464;
        margin-top:4%;
    }
}
@media screen and (max-device-width:768px){
    #sunnyui ul li a,#section_02 ul li a{
        color:#646464;
        font-size:0.9rem;
        margin-top:2%;
    }
    #section_02 ul, #section_03 ul{
        margin-left:20%;
    }
    #section_03 ul li{
        color:#646464;
        font-size:0.9rem;
        margin-top:5%;
    }
}