*{
    padding:0;
    margin:0;
}
a:hover{
    text-decoration: none;
}
@font-face {
    font-family: "awesome-font";
    src:url(font-awesome-4.5.0/fonts/fontawesome-webfont.eot)
    src:url(font-awesome-4.5.0/fonts/fontawesome-webfont.woff)
        url(font-awesome-4.5.0/fonts/FontAwesome.otf)
        url(font-awesome-4.5.0/fonts/fontawesome-webfont.ttf)
}
html{
    font-size:62.5%;

}
body{
    background:#FFFFFF;
    box-sizing:border-box;
    font-family: "awesome-font",sans-serif;
}
/*--------navigation----------*/
#top_nav{
    height:8rem;
    padding:1rem 1rem;
    line-height:8rem;
    background-color:transparent;
    border-width:0;
    -webkit-transition: all .5s ease-in-out ;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.navbar-brand{
    width:7rem;
    overflow:hidden;
    -webkit-transition: width .5s ease-in-out 0s;
    -moz-transition: width .5s ease-in-out 0s;
    -ms-transition: width .5s ease-in-out 0s;
    -o-transition: width .5s ease-in-out 0s;
    transition: width .5s ease-in-out 0s;
    padding:1.5rem 0 1.5rem 1.1rem;
}
.navbar-brand:hover{
    width:20rem;
}
.navbar-brand,.navbar-nav > li > a{
    padding-top:0;
}
@media screen and (max-device-width:768px){
    #top_nav{
        height:5rem;
        padding:0;
    }
    #top_nav .container-fluid{
        background:rgba(0,0,0,.5);
        width:100%;
    }
    #top_nav .container-fluid .navbar-brand{
        margin-top:.5rem;
    }
    #top_nav .container-fluid .navbar-toggle{
        margin-top:1.2rem;
    }
    .navbar-nav > li > a{
        padding:1.5rem 0 1.5rem 3rem;
    }
}
/*
   (for scroll_event)
#top_nav.on{
    height:7rem;
    padding:1rem 4rem;
    background:rgba(0,0,0,0.5);
}
@media screen and (max-device-width:769px){
    #top_nav.on{
        height:7rem;
        padding:1rem 1rem;
        background:rgba(0,0,0,0.5);
    }
    #top_nav_content{
        width:100%;
        margin:0;
    }
}
#top_nav_content ul li{
    margin:1.2rem 0;
}
*/
/*-------carousel_section---------*/
#carousel_section img{
    width:100%;
}
/*iphone4&iphone5*/
@media screen and (max-device-width: 374px){
    .carousel-inner>.item>img,.carousel-inner>.item>a>img{
        height:18rem;
    }
}
/*iphone6&iphone6 plus*/
@media screen and (min-device-width: 375px) and (max-device-width: 767px){
    .carousel-inner>.item>img,.carousel-inner>.item>a>img{
        height:20rem;
    }
}
/*ipad &ipad Mini*/
@media screen and (min-device-width: 768px){
    .carousel-inner>.item>img,.carousel-inner>.item>a>img{
        height:auto;
    }
}
/*-------project_class_section--------*/
/*-----use contain-fluid will make some problems------*/
#project_class_section .container{
    width:100%;
}
#app,#web,#wx,#ar_vr,#next{
    text-align: center;
    height:30.2rem;
    padding:8rem 0;
    background-color:#FFFFFF;
    border:.1rem solid #ccc;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -ms-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
}
#app:hover,#web:hover,#wx:hover,#ar_vr:hover,#next:hover{
    background-color: #E9E9E9;
}
#app p,#web p,#wx p,#ar_vr p,#next p{
    padding:0;
    margin:0;
    height:7rem;
    line-height:7rem;
    font-weight:300;
    color:#9D9D9D;
}
.p1{
    font-size: 2.6rem;
}
.p2{
    font-size:2rem;
}
.p_hover_before{
    display:none;
}
#share{
    padding:0;
    background-color:#FFFFFF;
    border:.1rem solid #ccc;
}
#share .share_section{
    height:10rem;
    line-height:10rem;
    text-align:center;
}
/*-------experience_design_section--------*/
#experience_design_section{
    padding:5rem 0 0 0;
    background-color:#E9E9E9;
    text-align:center;
}
#experience_design_section .container{
    width:95%;
    padding-top:5rem;
    margin-left:auto;
    margin-right:auto;
    margin-top:2rem;
}
#experience_design_section .container .item{
    height:38rem;
    padding:5rem 0 0 0;
    background-color:#FFFFFF;
}
#experience_design_section .container .item p{
    width:60%;
    line-height:2.6rem;
    text-align: left;
    margin:2rem auto;
}
@media screen and (max-device-width: 400px){
    #experience_design_section .container .item p{
        width:80%;
        line-height:2rem;
        text-align: left;
        margin:2rem auto;
    }
}
/*-------sunnyui_design_section--------*/
#sunnyui_design_section{
    background:url("../img/sunnyui_design/sunnyui_design_bg.jpg") no-repeat top center transparent;
}
@media screen and (min-device-width: 1350px){
    #sunnyui_design_section{
        padding: 5rem 0 12rem 0;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }
}
@media screen and (max-device-width: 1350px){
    #sunnyui_design_section{
        padding: 5rem 0 10rem 0;
        -webkit-background-size:cover;
        background-size:cover;
    }
}
#sunnyui_design_section .container{
    text-align:center;
    color:#FFFFFF;
}
#sunnyui_design_section .container h3{

    line-height:4rem;
}
#sunnyui_design_section .container h5{
    font-size:1.6rem;
}
#sunnyui_design_section .container p{
    width:80%;
    margin-top:3rem;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}
#sunnyui_design_section .container .more button{
    display:inline-block;
    margin-top:3rem;
    background-color:#41D696;
    padding:1rem 5rem;
    border-radius:.5rem;
    border-width:0;
    color:#FFFFFF;
}
/*-------footer--------*/
footer{
    padding:5rem 0;
}
    /*-------footer_section_01--------*/
    #footer_section_01 .container{
        width:100%;
    }
    #section_01,#section_02,#section_03{
        margin-top:1rem;
    }
        /*-------section_01--------*/
        #logo{
            width:18%;
            float:left;
            margin-right:2%;
        }
        #logo a{
            display:inline-block;
        }
        #logo a img{
            width:100%;
        }
        #sunnyui{
            width:80%;
            float:left;
        }
        #sunnyui_logo{
            width:50%;
        }
        #sunnyui_logo a{
            display:inline-block;
        }
        #sunnyui_logo a img{
            width:100%;
        }
        #sunnyui ul{
            list-style:none;
        }
        #sunnyui ul li{
            display:inline-block;
            margin-right:2%;
            margin-top:3%;
        }
        /*-------section_02--------*/
        #section_02 p{
            font-size:1.4rem;
            font-weight:800;
            color:#BFBFBF;
            text-shadow:0px 1px 1px #ccc;
            margin:0;
        }
        #section_02 ul{
            width:80%;
            list-style:none;
        }
        #section_02 ul li{
            display:inline-block;
            margin-right:2%;
            margin-top:3%;
        }
        /*-------section_03--------*/
        #section_03 p{
            font-size:1.4rem;
            margin:0;
            color:#7B7B7B;
        }
        #section_03 p span{
            font-size:1.4rem;
            font-weight:800;
            color:#BFBFBF;
        }
        #section_03 ul{
            list-style:none;
            width:80%;
        }
        #section_03 ul li{
            display:inline-block;
            margin-right:5%;
        }
        #section_03 ul li i{
            font-size:1.4rem;
        }
    /*-------footer_section_02--------*/
    #footer_section_02{
        padding:2.5rem 0 1rem 0;
        width:95%;
        margin:0 auto;
    }
            /*-------section_01--------*/
        #footer_section_02 .section_01 {
            height:4rem;
        }
        #phone_version{
            float:left;
            font-weight:bold;
            color:#7B7B7B;
        }
        #phone_number{
            float:right;
            font-weight:bold;
            color:#7B7B7B;
        }
        #footer_section_02 .section_01 i{
            font-size:3rem;
        }
        #footer_section_02 .section_01 span{
            display:inline-block;
            position: relative;
            top:-.5rem;
        }
        /*-------section_02--------*/
        #footer_section_02 .section_02{
            float:right;
            font-size:1.1rem;
            color:#BFBFBF;
        }
@media screen and (min-device-width: 1051px){
    #sunnyui ul li a,#section_02 ul li a{
        display:inline-block;
        color:#646464;
        font-size:1.2rem;
        margin-top:7%;
    }
    #section_03 ul li{
        color:#646464;
        font-size:1.2rem;
        margin-top:3%;
    }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1050px){

    #sunnyui ul li a,#section_02 ul li a{
        color:#646464;
        font-size:1rem;
        margin-top:3%;
    }
    #section_03 ul li{
        font-size:1rem;
        color:#646464;
        margin-top:4%;
    }
}
@media screen and (max-device-width:768px){
    #sunnyui ul li a,#section_02 ul li a{
        color:#646464;
        font-size:0.9rem;
        margin-top:2%;
    }
    #section_02 ul, #section_03 ul{
        margin-left:20%;
    }
    #section_03 ul li{
        color:#646464;
        font-size:0.9rem;
        margin-top:5%;
    }
}